body{
    background-color: #0f171e;
    color: white;
}      
.home:hover{
    font-size: 35px;
    color: white;
}
.search:hover{
    font-size: 35px;
    color: white;
}
.about:hover{
    font-size: 35px;
    color: white;
}
.sign:hover{
    font-size: 35px;
    color: white;
}
.support:hover{
    font-size: 35px;
    color: white;
}
.logo{
    position: absolute;
    top: 20px;
    left: 0%;
}
.home{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 550px;
    text-decoration: none;
}
.search{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right:390px;
    text-decoration: none;
}
.about{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 240px;
    text-decoration: none;
}

.support{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right:70px;
    text-decoration: none;
}
.sign{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 330px;
    text-decoration: none;
}
#englishtitle{
    color: rgba(255, 255, 255, 0.849);
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 410px;
}
#table1{
    position: absolute;
    top: 200px;
    left: 30px;
}
th, td{border: 6px solid #0f171e}
#diamondsareforever{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 50px;
}
#harshtimes{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 370px;
}
#snitch{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 690px;
}
#jumanji{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 1010px;
}
#table2{
    position: absolute;
    top: 430px;
    left: 30px;
}
#fastandfurious2001{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 50px;
}
#fastandfurious2{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 370px;
}
#fastandfurious3{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 690px;
}
#fastandfurious4{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 1010px; 
}
#table3{
    position: absolute;
    top: 660px;
    left: 30px;
}
#faster{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 850px;
    left: 50px;
}
#pushpa_english{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 850px;
    left: 370px;
}
#badboys{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 850px;
    left: 690px;
}
#fastandfurious9{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 850px;
    left: 1010px;
}
#table4{
    position: absolute;
    top: 890px;
    left: 30px;
}
#halfbrothers{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1080px;
    left: 50px;
}
#badsanta{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1080px;
    left: 370px;
}
#theroyaltreatment{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1080px;
    left: 690px;
}
#nantucketnoel{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1080px;
    left: 1010px;
}
#table5{
    position: absolute;
    top: 1120px;
    left: 30px;
}
#sexappeal{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1310px;
    left: 50px;
}
#niceguys{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1310px;
    left: 370px;
}
#novemberman{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1310px;
    left: 690px;
}
#americansiege{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1310px;
    left: 1010px;
}
#table6{
    position: absolute;
    top: 1350px;
    left: 30px;
}
#hacker{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1540px;
    left: 50px;
}
#hitmansbodyguard{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1540px;
    left: 370px;
}
#thenun{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 1540px;
    left: 690px;
}
#copyright{
    font-size: 37px;
    position: absolute;
    top: 1590px;
    left: 400px;
}