body{
    background-color: #0f171e;
    color: white;
}      
.home:hover{
    font-size: 35px;
    color: white;
}
.search:hover{
    font-size: 35px;
    color: white;
}
.about:hover{
    font-size: 35px;
    color: white;
}
.sign:hover{
    font-size: 35px;
    color: white;
}
.support:hover{
    font-size: 35px;
    color: white;
}
.logo{
    position: absolute;
    top: 20px;
    left: 0%;
}
.home{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 550px;
    text-decoration: none;
}
.search{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right:390px;
    text-decoration: none;
}
.about{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 240px;
    text-decoration: none;
}

.support{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    right:70px;
    text-decoration: none;
}
.sign{
    color: rgba(255, 255, 255, 0.849);
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 330px;
    text-decoration: none;
}
#tamiltitle{
    color: rgba(255, 255, 255, 0.849);
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 410px;
}
#table1{
    position: absolute;
    top: 200px;
    left: 30px;
}
th, td{border: 6px solid #0f171e}
#pushpa_tamil{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 50px;
}
#maanaadu{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 370px;
}
#bhoomi{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 690px;
}
#bigil{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 390px;
    left: 1010px;
}
#table2{
    position: absolute;
    top: 430px;
    left: 30px;
}
#golisoda2{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 50px;
}
#uturn{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 620px;
    left: 370px;
}
